*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*/*.native
*/_build/*
setup.data
setup.log
client/lib/request.ml
client/lib/request.mli
client/lib/cmdliner_commands.ml
generator/src/listApis_j.ml
generator/src/listApis_j.mli
generator/src/listApis_t.ml
generator/src/listApis_t.mli
